//@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.site-header {
  box-shadow: #ccc 0px 3px 3px;
}

.head {
  color: $white;
}

.picture-head {
  position: relative;
  padding-top: 30vh;
  padding-bottom: 15vh;
  @include media-breakpoint-down(md) {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .picture {
    z-index: -1000;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;

    filter: grayscale(100%) contrast(120%) brightness(30%);
  }
}

.video-head {
  padding-top: 30vh;
  padding-bottom: 15vh;
  @include media-breakpoint-down(md) {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  position: relative;
  .video-container {
    position: absolute;
    z-index: -1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%) translateY(-20%);
    }
  }
}
