<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Goole fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CFira+Sans:300,400,400i,600" rel="stylesheet">
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/theme.min.css">
  <title>with humans</title>


  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#fe22f7">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <header class="site-header fixed-top bg-white border-bottom border-light">
    <a href="#content" class="sr-only sr-only-focusable">Skip to content</a>
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar main-nav navbar-expand-lg navbar-light" aria-label="Main navigation">
        <a href="/" class="navbar-brand d-inline-flex "> with humans <img src="/img/logo64x64.png" role="presentation" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-uppercase" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/what-is-w/humans" class="nav-link">Services</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="about-us-dropdown-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <div class="dropdown-menu" aria-labelledby="about-us-dropdown-menu-link">
                <a class="dropdown-item" href="{% link workers.html %}">Workers</a>
                <a class="dropdown-item" href="{% link about.html %}">Vision</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main id="content">
    {{ content | safe }}
  </main>

  <!-- Footer -->
  <footer class="bg-light text-black">
    <div class="container pt-6 pb-2">
      <div class="row justify-content-md-between">
        <div class="col-4 col-md-2 mb-4">
          <ul class="nav flex-column">
            <li class="mb-1"><a href="/" class="text-muted">Home</a></li>
            <li class="mb-1"><a href="/about" class="text-muted">About</a></li>
            <li class="mb-1"><a href="/impressum" class="text-muted">Impressum</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 mb-4">
          <h3 class="h6 mb-3">Collective</h3>
          <p class="text-muted">
            <strong>with humans</strong><br/>
            Christoph Neuroth<br/>
            Raimo Radczewski<br/>
            Benjamin Reitzammer
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/theme.min.js"></script>
</body>
